@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=M+PLUS+1p&family=Pacifico&family=Paytone+One&family=Permanent+Marker&family=Protest+Revolution&family=Rock+3D&display=swap');
@import url('https://fonts.cdnfonts.com/css/myriad-pro');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.outter{
    background-color: rgb(228, 228, 228);
}
.headDIV{
    background: linear-gradient(to left, #00236d, #004182); 
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    margin-bottom: 50px;
}
.feedfont{
    color:white;
}
.reviewform{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    width: 700px;
    margin-bottom: 50px;
}
.buttonDIV{
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.Buttreview{
    height: 2.5rem;
    width: 10rem;
    letter-spacing: 1.5px;
}
.Butt{
    text-decoration: none;
}
.form-group{
    padding: 5px;
}